<h1><%= header_index_page(@user, @rel_type.pluralize) %></h1>

<div class="my_container">
  <div class="list-group">
    <% @studyships.each do |studyship| %>
        <%= link_to studyship.send("#{@rel_type}").try(:full_name), user_path(studyship.send("#{@rel_type}")), class: "list-group-item list-group-item-action studyships" %>
        <%= link_to "Remove", user_studyship_path(@user, @rel_type.pluralize, studyship), method: 'delete', data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <br>
    <% end %>
  </div>

  <% if @rel_type == "student" %>
    <%= link_to "New Requests from Students", requests_path, class: "btn btn-primary" %>
  <% end %>
</div>
