<h1>10 Most Popular Teachers</h1>

<div class="my-container">
  <div class="list-group">
    <% @teachers.each do |teacher| %>
      <%= link_to_user_popular(teacher) %>
    <% end %>
  </div>
</div>
