<div class="my-container">
  <%= form_for profile, url: profile_path, html: { multipart: true } do |f| %>
    <%= render 'profile_fields', f: f %>
    <%= f.submit class: "gray-button" %>
  <% end %>
</div>
