<%= image_tag profile.image, id: "avatar" if profile.image %>
<h1><%= profile.user.appearance %></h1>

<table class="table">
  <tbody>
    <% profile.attributes.each do |name, value| %>
      <% next if !['phone_number', 'age', 'study_place', 'degree', 'interests', 'created_at'].include?(name) || value.blank? %>
        <tr>
          <%= content_tag 'td', name.humanize %>
          <%= content_tag 'td', value %>
        </tr>
    <% end %>
  </tbody>
</table>
