<h1>All Users</h1>

<div class="list-group">
  <p>* blue - your teacher, purple - your student, green - both</p>
  <% @users.each do |user| %>
    <%= link_to (user.full_name || user.email), user_path(user), class: user_class_bs(user) %>
  <% end %>
</div>
