<h1>About Study Helper</h1><br>

<div class="about">
  <p>This app was made to simplify studing for both students and teachers.
  Teachers can store their materials privately and open access only to students they want.
  Students can add users as teachers and access their materials.</p>

  <p>This application is in beta stage. If you find any bugs, please let me know.</p>

  <p>Developed by Aleksandr Rogachev. E-mail: aleksandr.rogachev1994@gmail.com</p>
  <p>Photo and help with design by Kseniia Gromova. E-mail: kdgromova@gmail.com</p>
</div>
