<h1>Welcome to Study Helper!</h1>

<p>This app was made to make studing easier for both students and teachers.
Teachers can store there materials privately and open access only to students they want.</p>
