<fieldset class="form-inline">
  <legend>Choose category from the list or create new one</legend>

  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :title, {}, class: "form-control" %>
  </div>

  <%= f.fields_for :category, category do |category_form| %>
    <div class="form-group">
      <%= category_form.label :title, "or New" %>
      <%= category_form.text_field :title, value: "", class: "form-control" %>
    </div>
  <% end %>
</fieldset>
<br>
