<fieldset>
  <legend>Choose category from the list or create new one</legend>
  
  <%= f.collection_select :category_id, Category.all, :id, :title, {}, {class: "selectpicker", "data-live-search  ": "true"} %>
  <br><br>

  <%= f.fields_for :category, category do |category_form| %>
    <div class="form-group">
      <%= category_form.label :title, "Title (live blank if you don't want to create it)" %>
      <%= category_form.text_field :title, value: "", class: "form-control" %>
    </div>
  <% end %>
</fieldset>
<br>
