<p>Choose category from the list or or create new one.</p>
<%= f.collection_select :category_id, Category.all, :id, :title %>

<fieldset>
  <legend>New Category</legend>
  <%= f.fields_for :category, category do |category_form| %>
    <%= category_form.label :title, "Title (live blank if you don't want to create it)" %>
    <%= category_form.text_field :title %>
  <% end %>
</fieldset>
<br>
