<h1><%= header_index_page(@user, "lessons") %></h1>

<div class="my-container">
  <ul class="categories">
    <% @lessons_by_categories.each do |category, lessons| %>
      <li class="category-li">
        <a href="#" onclick="return false;" class="category-title"><%= category %></a>
        <ul class="category-lessons">
          <% lessons.each do |lesson| %>
            <li class="category-lesson"><%= link_to lesson.title, user_lesson_path(@user, lesson), class: "lesson-link" %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

  <% if policy(@stub_lesson).new? %>
    <%= link_to "Create New Lesson", new_user_lesson_path, class: "gray-button create-lesson-link" %>
  <% end %>
</div>
