<h1><%= header_index_page(@user, "lessons") %></h1>

<div class="my-container">
  <div class="list-group">
    <% @lessons_by_categories.each do |category, lessons| %>
      <li class="list-group-item list-group-item-info">
        <%= category.title %>
        <div class="list-group">
          <% lessons.each do |lesson| %>
            <%= link_to lesson.title, user_lesson_path(@user, lesson), class: "list-group-item list-group-item-action" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </div>

  <% if policy(@stub_lesson).new? %>
    <%= link_to "Create new Lesson", new_user_lesson_path, class: "btn btn-primary" %>
  <% end %>
</div>
