<h1><%= header_index_page(@user, "lessons") %></h1>

<ul>
  <% @lessons_by_categories.each do |category, lessons| %>
    <li>
      <%= category.title %>
      <ol>
        <% lessons.each do |lesson| %>
          <li><%= link_to lesson.title, user_lesson_path(@user, lesson) %></li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ul>

<% if policy(@stub_lesson).new? %>
  <%= link_to "Create new Lesson", new_user_lesson_path, class: "btn btn-primary" %>
<% end %>
