<h1>Your lessons</h1>

<ul>
  <% @lessons_by_categories.each do |category, lessons| %>
    <li>
      <%= category.title %>
      <ul>
        <% lessons.each do |lesson| %>
          <li><%= link_to lesson.title, lesson_path(lesson) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
