/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*------------------------------ Common --------------------------------*/

 html {
   height: 100%;
 }

body {
  background: url("/assets/wp_website.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-top: 50px; /* For fixeed navbar */
  position: relative;
  padding-bottom: 6em; /* needed for footer to not to conflict with content. */
  min-height: 100%;
}

/*------------------------------ Navigation --------------------------------*/

nav {
  opacity: 0.9;
}

/*------------------------------ Main --------------------------------*/

.container {
  margin-top: 1em;
  padding-top: 1em;
  background-color: rgba(255, 255, 255, 0.92);
  padding-bottom: 2em;
}

.field_with_errors {
  color: red;
  display: inline-block;
}

legend {
  border-bottom: 1px solid black;
}

.alert, .list-group p {
  text-align: center;
}

h1, h2 {
  text-align: center
}

.my_container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

img#avatar {
  width: 40%;
}

/*------------------------------ Lists --------------------------------*/

.list-group-item-purple {
  background-color: rgba(128,0,128,0.2);
}

a.list-group-item-purple:hover {
  background-color: rgba(128,0,128,0.35);
}

.studyships {
  width: 70%;
  display: inline-block;
}

.button_to {
  display: inline-block;
}

/*------------------------------ Footer --------------------------------*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #111013;
  text-align: right;
  opacity: 0.93;
}
