div.home {
 position: absolute;
 top: 30%;
 color: white;
 font-size: 2.3em;
 text-align: center;
}

.home p {
 font-family: "Rochester", cursive;
 font-size: 1.2em;
}

.home h1 {
 color: #ccff00;
 font-size: 1.6em;
}

.about {
 text-align: left;
 padding: 0 40px;
}
