ul.categories {
  list-style-type: none;
  padding: 0;
  font-size: 160%;
  color: black;
}

ul.categories a {
  color: black;
  text-decoration: none;
}

.category-li {
  border-bottom: 1px solid #8cff00;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0em;
}

a.category-title {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #8cff00;
}

ul.category-lessons {
  margin-top: 1em;
  list-style-type: none;
  padding: 0;
  font-size: 80%;
  display: none;
}

li.category-lesson {
  display: block;
  width: 100%;
  height: 100%;
}

a.lesson-link {
  display: block;
  width: 100%;
  height: 100%;
}

//------------------------------------------------------

#user-lessons-link, .new-lesson-link {
  font-size: 140%;
  width: 100%;
}

.new-lesson-link {
  font-size: 120%;
}

.lessons-by-categories {
  margin-bottom: 2em;
}

.lesson-by-categories-error, #profile-load-error, #profile-update-error {
  color: red;
}

img#avatar {
  margin: 1.5em auto;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}
