<h1>All Categories</h1>

<div class="my-container">

  <%= render 'users/search_form', path: categories_path %>
  <br>

  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.title, category_path(category), class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
</div>
