<% if flash.any? %>
  <div class="flash-container">
    <%= content_tag 'div', flash[:notice], class: "alert alert-success" if flash[:notice] %>
    <%= content_tag 'div', flash[:alert], class: "alert alert-danger" if flash[:alert] %>
    <%= content_tag 'div', flash[:error], class: "alert alert-danger" if flash[:error] %>
  </div>
<% end %>
